.master {

    height: 150px;
    margin: 10px 10px 10px 10px;
    background-image: url("media/new floral paisley background.jpg");
    background-position: 20% center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #010101;
    border: 1px;
    /*These round the border edges*/
    border-radius: 42px 42px 42px 42px;
    -moz-border-radius: 42px 42px 42px 42px;
    -webkit-border-radius: 42px 42px 42px 42px;
    /*These control the shadow*/
    -webkit-box-shadow: 0px 0px 77px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 77px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 77px 1px rgba(255,255,255,1);
    /*end of shadow contollers*/
    padding: 2% 2% 2% 3%;
}

.row1_photo_text {
    width: 100%;
}

.row_caption_box {
    width: 100%;
    margin-left: 11%;

}

.photobox {
    height: 100px;
    width: 100px;
    float: left;
}

.photobox img {
    width: 100%;
    height: 100%;
    margin-right: 1%;
}

.caption_box {
    /*background-color: #333;*/

}

.caption_row {
    width: 100%;
    margin: 1% 1% 1% 0%;
}

.caption_title_text {
    margin: 2% 2% 2% 0%;
    color: #7d7d7d

}
.caption_text_row {
    /*background-color: #008000;*/
    color: #b6b6b6;
    margin: 0 12% 0 0;
}

.button_row {
    background-color: rosybrown;
}

.button_1 {
    background-color: aquamarine;
}

.button_2 {
    background-color: hotpink;
}

.button_3 {
    background-color: honeydew;
}

.col-sm-1 {
    width: 10%;
}

.col-sm-2 {
    width: 20%;
}

.col-sm-3 {
    width: 30%;
}

.col-sm-4 {
    width: 40%;
}

.col-sm-5 {
    width: 50%;
}

.col-sm-6 {
    width: 60%;
}

.col-sm-7 {
    width: 70%;
}

.col-sm-8 {
    width: 80%;
}

.col-sm-9 {
    width: 90%;
}

.col-sm-100 {
    width: 100%;
}
